Fracture anisotropy maximization\Results_compression\Training_samples_shear.npy filter=lfs diff=lfs merge=lfs -text
Fracture anisotropy maximization\Results_compression\Training_samples_expansion.npy filter=lfs diff=lfs merge=lfs -text
Fracture anisotropy maximization\Results_compression\Training_samples_compression.npy filter=lfs diff=lfs merge=lfs -text
